.form-content {
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 1vh;
    height: 60vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-form-password {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-form-button {
    margin-top: 5vh;
}