* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
}

footer {
    width: 100vw;
}

.main-login {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form-content {
    background-color: rgba(145, 145, 145, 0.555);
    color: white;
    border-radius: 1vh;
    height: 60vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-form{
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-form h1 {
    font-size: 50px;
    font-family: "Archivo", sans-serif;
}

.title-form h5 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.input-form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-form-login span {
    font-size: 24px;
    font-family: "Cinzel", sans-serif;
}

.input-form-login input {
    color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 0.8vh;
    font-size: 16px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid white;
}

.input-form-login input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 


.input-form-password {
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-form-password span {
    font-size: 24px;
    font-family: "Cinzel", sans-serif;
}

.input-form-password input {
    color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 0.8vh;
    font-size: 16px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid white;
}

.input-form-password input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 

.input-form-button {
    margin-top: 5vh;
}

.input-form-button button {
    padding: 1vh 3vh;
    border-radius: 2vh;
    border: none;
    background-color: rgba(255, 255, 255, 0.555);
    font-family: "Cinzel", sans-serif;
    font-size: 24px;
}
.input-form-button button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid white;
    box-shadow: 5px 5px 50px  rgba(255, 255, 255, 0.6);
}